* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  padding: 12px 16px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 10px;
}

header {
  height: 40%;
  background-image: url("/images/title.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer {
  width: 100%;
  padding: 0.8em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

section.w3-container {
  border: 1px solid #bbb;
}

ul.lottos.body {
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px 1px black;
  margin: 10px auto;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 12px 2rem;
}

ul.lottos.body li {
  width: 100px;
  height: 100px;

  line-height: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  margin: 5px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  text-shadow: 1px 1px 1px black;
}

article.w3-container {
  width: 60%;
  margin: 10px auto;
}

@media screen and (max-width: 400px) {
  header {
    height: 20%;
    background-size: 150% 100%;
    background-position: 70% 80%;
  }
  ul.lottos.body li {
    width: 500%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  article.w3-container {
    width: 90%;
    margin: 10px auto;
  }
}
