doctype html
html(lang="ko")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 로또번호 생성기
		link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
